{% schema %}
{
  "name": "Background Video",
  "settings": [
    {
      "type": "video",
      "id": "background_video",
      "label": "Background Video",
      "info": "Upload a video to use as the background. Video should be in MP4 format."
    },
    {
      "type": "checkbox",
      "id": "has_product_buttons",
      "label": "Has Product Buttons",
      "info": "Check this box if you want to add product buttons to the background video.",
      "default": true
    },
    {
      "type": "number",
      "id": "product_button_height",
      "label": "Product Button Height",
      "info": "Set the height of the product buttons.",
      "default": 100
    }
  ],
  "presets": [
    {
        "name": "Background Video"
    }
  ]
}

{% endschema %}

<div class="bg-video">
    {{ section.settings.background_video | video_tag: autoplay: true, loop: true, muted: true, playsinline: true }}
</div>
{% if section.settings.has_product_buttons %}
<div class="product-buttons-wrapper">
    <ul class="product-buttons">
        <li>
            <button class="product-button">
                shop all products 
                {% render 'icon-motocult-arrow' %}
        
            </button>
        </li>
        <li>
            <button class="product-button">
            shop by bike
            
            {% render 'icon-motocult-arrow' %}
            </button>

            <ul class="bike-detail-menu">
                <li><button class="bike-detail-button">
                    janus 250    
                    {% render 'icon-motocult-arrow' %}
                </button></li>
                <li><button class="bike-detail-button">
                    hawk 250    
                    {% render 'icon-motocult-arrow' %}
                </button></li>
                <li><button class="bike-detail-button">
                    hawk 250 dlx  
                    {% render 'icon-motocult-arrow' %}
                </button></li>
                <li><button class="bike-detail-button">
                    tao tao tbr7 
                    {% render 'icon-motocult-arrow' %}
                </button></li>
            </ul>
        </li>
    </ul>
</div>
{% endif %}

<style>
    .bg-video {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(100vh - {{ site.top_bar_height | default: '0' }}px);
        z-index: -1;
        top: 0;

        filter: blur(2px);
    }

    .bg-video video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media (max-width: 767px) {
        .bg-video {
        height: 100vh;
        }
    }

    .product-buttons-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;

        position: relative;
        height: {{ section.settings.product_button_height }}px;
        bottom: {{ section.settings.product_button_height }}px;;
    }

    .product-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }

    .product-button {
        all: unset;
        cursor: pointer;
        width: 100%;
        background-color: #fff;
        color: #000;
        text-align: left;
        padding: 0 0 0 20px;   
        font-size: 1.5rem;
        font-weight: 700;
        height: 100%;
        line-height: {{ section.settings.product_button_height }}px;
        border: 1px solid #000;
        overflow: hidden;
    }


    .bike-detail-menu {
        width: 50%;
    }

    .bike-detail-menu li {
        height: 50px;
        margin-bottom: 10px;
    }

    {% comment %} .bike-detail-menu li {
        position: relative;
    } {% endcomment %}

    .product-buttons li, .bike-detail-menu li {
        position: relative;
        width: 100%;
    }

    {% comment %} .bike-detail-menu ul { {% endcomment %}
    .product-buttons ul {
        display: none;

        position: absolute;
        left: 0;
        top: -240px;
    }

    {% comment %} .bike-detail-menu li:hover ul {
        display: block;
    } {% endcomment %}

    .product-buttons li:hover ul {
        display: block;
    }

    .bike-detail-button {
        all: unset;
        cursor: pointer;

        background-color: #fff;

        height: 50px;
        line-height: 50px;

        font-size: 1.15rem;

        overflow: hidden;
        
        width: 100%;
        text-align: left;
        padding: 0 0 0 20px;

        font-weight: 600;

        {% comment %} border: 1px solid #000; {% endcomment %}
        border-radius: 2px;

        {% comment %} transition: box-shadow 0.1s ease; {% endcomment %}
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }

    .bike-detail-button::after {
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        opacity: 0;
        content: "";
        transition: opacity 0.15s ease;
    }

    .bike-detail-button:hover::after {
        opacity: 1;
    }

    {% comment %} .bike-detail-button:focus, .bike-detail-button:hover {
        box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    } {% endcomment %}


    .product-button:focus .focus-stripe, .product-button:hover .focus-stripe {
        transform: translateX(0%);
    }

    .bike-detail-button:focus .focus-stripe, .bike-detail-button:hover .focus-stripe {
        transform: translateX(0%);
    }

    .bike-detail-button svg {
        height: 50px;
        width: auto;
        float: right;
        transform: translateX(30px);
        transition: transform 0.2s ease;
    }

    .bike-detail-button:focus svg, .bike-detail-button:hover svg {
        transform: translateX(0px);
    }

    .product-button svg {
        height: {{ section.settings.product_button_height }}px;
        width: auto;
        float: right;
        transform: translateX(60px);
        transition: transform 0.2s ease;
    }

    .product-button:focus svg, .product-button:hover svg {
        transform: translateX(-20px);
    }

    .focus-stripe {
        transform: translateX(20%);
        transition: transform 0.2s ease;
    }
</style>
